.mobileView{
    display: none;
}

.desktopView{
    display: block;    
}

.navElement{
    background: rgba(365, 365, 365, 1);
}

@media only screen and (max-width: 600px) {
    .mobileView{
        display: block;
    }
    
    .desktopView{
        display: none;
    }
}