.Main {
    font-family: 'IBM Plex Sans', sans-serif;
}

section {
    margin-top: 72px;
}

.btn-pen{
    display: none;
}

/* viewport for mobile */
@media only screen and (max-width: 600px) {
    section {
        margin-top: 0px;
    }

    .App{
        position: relative;
    }

    .btn-pen{
        display: block;
        position: fixed;
        bottom: 20px;
        right: 15px;
    }
  }